db.name = bt
db.class = ch.agent.crnickl.jdbc.JDBCDatabase
dbStrictNameSpace = true
session.jdbcDriver = org.hsqldb.jdbc.JDBCDriver
session.jdbcUrl = jdbc:hsqldb:mem:testdb
#session.jdbcUrl = jdbc:hsqldb:hsql://localhost/test2
### leave session.db empty when no %s place holder in jdbcUrl
session.db =  
session.user = sa
session.password =

feature.isTransactional=true
feature.supportsRegex=false
feature.isPersistent=false
feature.DDL=sql/HyperSQL_DDL_base.sql